body{
    background: #E5E5E5;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.navbar{
    position: absolute;
width: 1440px;
height: 576px;
left: 0px;
top: 0px;

background: #F0FFF0;

}
.navbar-brand img{
     position: absolute;
    width: 198.07px;
height: 59px;
left: 212px;
top: 10px;

}
.navbar ul {
    position: absolute;
    left: 800px;
    top:0px;
    display: flex;
flex-direction: row;
align-items: center; 
margin: 10px 35px;
}
.navbar ul .nav-item a .btn{
border-radius: 33px;
}
.content{
    position: absolute;
    top: 178px;
    left: 204px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content.left{
    width:50%;

}
.content .left h4{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #FD511A;
}
.content .left h1{
    font-style: normal;
font-weight: bold;
width: 405px;
font-size: 48px;
line-height: 70px;
color: #000000;


}
.content .left h1 span{
    color: #21B573;


}
.content .left p{
    width: 403px;
}
.content .right img{
   position: absolute;
    overflow: hidden;
    
}
.book{
    position: absolute;
top: 200px;
left:100px;
justify-content: center;
align-items: center;
}
.col .card{
width: 270px;
height: 270px;
top: 618px;
background: #F8FFFB;
border-radius: 10px;
box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.col .card img{
    position: absolute;
    width: 66px;
    height: 85px;
   left:100px;
   top:35px;
    
}
.col .card-title{
    position: absolute;
    top:150px;
  left:60px;
font-weight: 500;
font-size: 24px;
color: #413960;
}
.col .card-text{
    position: absolute;
    top:180px;
left:70px;
font-size: 16px;
}
